body {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x1152/1118b7d6471426887b75b347f63e1e29/photo-1562592199-8aed6ae5252d.jpg");
    background-repeat: none;
}

main {
    padding-left: 3%;
    padding-top: 3%;
    display: flex;
    justify-content: left;
}

column-display {
    width: 227px;
    margin: 20px;
    margin-top: 10px;
    background-color: #ebecf0;
    color: #6a7d9e;
    height: max-content;
}

h1 {
    padding-left: 4.5%;
    color: white;
    margin-bottom: 0;
}

img {
    display: inline;
    color: red;
}