body {
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2048x1152/1118b7d6471426887b75b347f63e1e29/photo-1562592199-8aed6ae5252d.jpg");
    background-repeat: none;
}

main {
    padding-left: 3%;
    padding-top: 3%;
    display: flex;
    justify-content: left;
    align-items: center;
}

column-display {
    width: 227px;
    margin: 20px;
    background-color: #ebecf0;
    color: #6a7d9e;
    height: 500px;
}